<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<!--/*--><!--@thymesVar id="users" type="List<web.model.User>"--><!--*/-->
<!--/*--><!--@thymesVar id="user" type="web.model.User"--><!--*/-->
<p th:text="${user.getName()}">Value</p>
<p th:text="${user.getLastName()}">Value</p>
<p th:text="${user.getAge()}">Value</p>

<br>
<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>